#pageTitle {
  font-family: monospace;
  font-size: 5vh;
  padding-bottom: 3vh;
  padding-left: 1.2vw;
  padding-top: 2vh;
  max-width: 32vw;
}

.mainContent {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
}
